includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
        - tests/TestClasses/Usuario.php
    scanDirectories:
        - tests
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    reportUnmatchedIgnoredErrors: true
